{% extends "TiendaBundle::base.html.twig" %}

{% block body %}
<?php //var_dump($usuarios) ?>
<table class="table">
    <h2>Lista de Usuarios</h2>
    <colgroup>
        <col width="80"/>
        <col/>
        <col/>
        <col/>
        <col/>
        <col width="80"/>
        <col width="80"/>
    </colgroup>
    <thead>
        <th>ID</th>
        <th>USUARIO</th>
        <th>ROL</th>
        <th>NOMBRES</th>
        <th>EMAIL</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
    </thead>
    <tbody>
    {% for usuario in usuarios %}
        <tr>
            <td>{{ usuario.id }}</td>
            <td>{{ usuario.username }}</td>
            <td>{{ usuario.rol.nombre }}</td>
            <td>{{ usuario.nombres }}</td>
            <td>{{ usuario.email }}</td>
            <td><a href="{{ path('tienda_usuarios_editar', { 'id' : usuario.id }) }}" class="btn btn-warning btn-sm">Editar</a></td>
            <td><a href="{{ path('tienda_usuarios_eliminar', { 'id' : usuario.id }) }}" class="btn btn-danger btn-sm">Eliminar</a></td>
        </tr>
    {% endfor %}
   </tbody>
</table>

<br/>

<a href="{{ path('tienda_usuarios_registrar') }}" class="btn btn-default">Nuevo</a>

{% endblock %}

