<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        
        <!-- jQuery -->
        <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
        
        <!-- Bootstrap -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

        <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
    </head>
    <body>
        
        <div id="header">
            <img src="{{ asset('img/logo.png') }}" height="60"/>
        </div>
            
        <div id="content">
        
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="flash-notice">
                    {{ flashMessage }}
                </div>
            {% endfor %}

            {% block body %}{% endblock %}
            {% block javascripts %}{% endblock %}
            
        </div>
        <div id="footer">
            Todos los Derechos Reservados {{ "now"|date("Y") }}
        </div>
    </body>
</html>
