{% extends "TiendaBundle::base.html.twig" %}

{% block body %}
    
<form action="{{ path('tienda_productos_editar', { 'id' : producto.id }) }}" method="POST" class="ligthform">
    <fieldset>
        <legend>Actualizar Producto</legend>
         <input type="hidden" name="id" value="{{ producto.id }}"/>
        <label>Nombre</label><input type="text" name="nombre" maxlength="100" class="form-control" value="{{ producto.nombre }}"/><br/>
        <label>Descripcion</label><input type="text" name="descripcion" class="form-control" value="{{ producto.descripcion }}"/><br/>
        <label>Precio</label><input type="text" name="precio"  class="form-control" value="{{ producto.precio }}"/><br/>
        <label>Stock</label><input type="text" name="stock"  class="form-control" value="{{ producto.stock }}"/><br/>
        <label>Categoria</label><select name="categorias_id" class="form-control">
            <option value="">Seleccionar</option>
            {% for categoria in categorias %}
                <option value="{{ categoria.id }}" {% if categoria.id == producto.categoria.id %} selected="selected" {% endif %}>{{ categoria.nombre }}</option>
            {% endfor %}
        </select><br/>
        <input type="submit" value="Guardar" class="btn btn-primary"/>
    </fieldset>
</form>

<br/>

<a href="{{ path('tienda_productos_index') }}" class="btn btn-default">&lt;&lt; Regresar</a>

{% endblock %}
